<div class="w-full p-6 bg-white border border-gray-300 rounded shadow outline-none">
  <h1 class="mb-5 text-4xl font-semibold">Friends</h1>
  <p>This is my first Rails App! Integrated with Tailwindcss and hosted on Heroku, it is a simple app where you can manage your friend list. Have a look around!</p>
</div>